{% load static %}

<div class="mt-5" style="background-color: black; width: 100%; height: 350px">
    <div class="container">
        <div class="row">
            <div class="col-md mt-3">
                <h3 class="text-white">Contact Information</h3>
                <p style="color:yellow; font-size:18px"><i class="fa fa-map-marker text-danger"></i> Gurugram Sector 21, Harayana</p>
                <p style="color:yellow; font-size:18px"><i class="fa fa-envelope text-danger"></i> jobportal15@gmail.com</p>
                <p style="color:yellow; font-size:18px"><i class="fa fa-mobile text-danger"></i> +91 1234567890/+91 5654789623 </p>
                <p style="color:yellow; font-size:18px"><i class="fa fa-globe text-danger"></i> www.onlinejobportal.com</p>
            </div>

            <div class="col-md-4 mt-3">
                <h3 class="text-white">Online Placement</h3>
                <p style="color:yellow; font-size: 18px">An employment website is a website that deals specially with employment or career. Many employment websites are designed to allow employers to post job requirement for a postion to be filled and are commonly known as job boards.</p>
            </div>

            <div class="col-md-4 mt-3">
               <h3 class="text-white">Newsletter</h3>
                 <p style="color:yellow; font-size: 18px">If you want any extra information then send me your email id.</p>
                <form method-"post" class-"form-inline">
                {% csrf_token %}
                <input type="email" name="emailid" placeholder="Email ID" required class="form-control">
                <input type="submit" value="send" class="btn btn-primary">

                </form>
            </div>
        </div>
    </div>

</div>